<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>shareU</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/room.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>

    <script>
        //pc와 모바일 구분해 css로딩
        var mql = window.matchMedia("screen and (max-width: 768px)");

        if (mql.matches) {
            var head = document.getElementsByTagName('head')[0];
            var link = document.createElement('link');
            link.id = 'pccss';
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = 'css/mobile_layout.css';
            link.media = 'all';
            head.appendChild(link);
            console.log('mobile');
        } else {
            var head = document.getElementsByTagName('head')[0];
            var link = document.createElement('link');
            link.id = 'mobilecss';
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = 'css/pc_layout.css';
            link.media = 'all';
            head.appendChild(link);
            console.log('pc');
        }

        // 브라우저 가로크기 체크
        var mql = window.matchMedia("screen and (max-width: 768px)");
        mql.addListener(function(e) {
            if (e.matches) {
                var head = document.getElementsByTagName('head')[0];
                var link = document.createElement('link');
                link.id = 'pccss';
                link.rel = 'stylesheet';
                link.type = 'text/css';
                link.href = 'css/mobile_layout.css';
                link.media = 'all';
                head.appendChild(link);
                console.log('mobile');

            } else {
                var head = document.getElementsByTagName('head')[0];
                var link = document.createElement('link');
                link.id = 'mobilecss';
                link.rel = 'stylesheet';
                link.type = 'text/css';
                link.href = 'css/pc_layout.css';
                link.media = 'all';
                head.appendChild(link);
                console.log('pc');
            }
        });
    </script>

</head>

<body onselectstart='return false' ondragstart='return false'>


    <!-- 영상 공유받았을때 -->
    <div id="ex2" class="modal">
        <h2 style="margin-top:20px;">영상이 공유되었어요.</h2>
        <h4 id="error"></h4>

        <img id="thumnail" style="float:left; width:20%; margin-right: 20px;" src="" />

        <div style="margin-left:20px;">
            <h3 id="title"></h3>
            <h5 id="description" style="margin-top:-10px;"></h5>
        </div>

        <br>
        <br>

        <a href="#ex1" rel="modal:close">
            <button class="ui primary button ripple" onclick="playVideo(selectedId);">
            재생
          </button>
        </a>
        <a href="#ex1" rel="modal:close">
            <button class="ui button ripple">
            거부
          </button>
        </a>
        <br><br>
    </div>


    <!-- 검색 -->
    <div id="ex3" class="modal">
        <form action="#" class="js-search-form">
            <h2 style="margin-top:20px;">공유할 영상을 찾아보세요.</h2>


        </form>
        <div class="resultsBox">
            <ul>
            </ul>
        </div>
    </div>





    <div class="container">
        <header>


            <div class="ui input urlTextbox">
                <input type="text" id="urlInput" name="text-field" class="searchResults" placeholder="검색어나 URL을 입력하세요.">
                <a href="#ex3" onclick="searchResults()" class="ui button send btn btn-success" rel="modal:open" id="send-url">
                    <ion-icon name="send-outline" style="width:20px; height:20px;"></ion-icon>
                </a>

            </div>

    </div>
    </header>

    <br>
    <div id="player-none">재생 대기중</div>
    <div id="player"></div>

    <br><br>
    <br><br><br><br>

    </div>

    <div class="bottom_nav">
        <h3 id="current_title" style="text-overflow:ellipsis;">영상을 재생해보세요</h3>

        <a id="chatToggle" onclick="chatToggle()">
            <ion-icon name="chatbubble-outline" style="color:#fff; font-size:25px;" alt="초대"></ion-icon>
        </a>

        <a id="shareurl" onclick="shareurl()">
            <ion-icon name="share-social-outline" style="color:#000; font-size:25px;" alt="초대"></ion-icon>
        </a>

        <a id="toggleSound_mute" onclick="toggleSound()">
            <ion-icon name="volume-mute-outline" style="color:#000;font-size:25px;" alt="음소거"></ion-icon>
        </a>

        <a id="exitroom" onclick="exitroom()">
            <ion-icon name="exit-outline" style="color:#fff; font-size:25px;" alt="나가기"></ion-icon>
        </a>

    </div>
    <div id="container-chat">
        <a class="tab" href="javascript:$('.chat').show();$('.videolist').hide();$('.settings').hide();">
            채팅
        </a>
        <a class="tab" style="text-align: right;margin-left:40px;" href="javascript:$('.chat').hide();$('.videolist').hide();$('.settings').show();">
            <ion-icon name="settings-outline" style="font-size:30px; color:#fff;"></ion-icon>
        </a>

        <div class="chat">
            <div class="chatForm">
                <br>
                <div id="messages" class="chatView"></div>
                <div id="chatForm">
                    <input id="message" class="form-control msginput" placeholder="메시지를 입력하세요."><button id="send" class="send btn btn-success ripple"><ion-icon name="send-outline" style="width:20px; height:20px;"></ion-icon></button></input>
                    <br>

                </div>
            </div>

        </div>

        <div class="videolist">
            <br>
        </div>

        <div class="settings" style="display:none;">
            <br>
            <h2 style="margin-top:20px;">닉네임 설정</h2>
            <div class="ui input">
                <input id="name" class="form-control" type="text" placeholder="닉네임을 입력해주세요">
            </div><br><br>
            <a href="#ex1" rel="modal:close">
                <button class="ui primary button" onclick="javascript:setUsername();">
            저장
          </button>
            </a>
        </div>


    </div>
    </div>

    <div id="toasts"></div>


</body>

</html>